aiohttp==3.9.3
aioresponses==0.7.6
appdirs==1.4.4
async-timeout==4.0.3
attrs==23.2.0
autoflake==2.3.0
black
bleach==6.1.0
bump2version==1.0.1
certifi==2024.7.4
chardet==5.2.0
click
colorama==0.4.6
docutils==0.20.1
flake8
idna==3.6
importlib-metadata==7.0.2
isort
json-schema-to-class==0.2.4
keyring==24.3.1
lazy-write==0.0.1
Mako==1.3.2
Markdown==3.5.2
MarkupSafe==2.1.5
mccabe==0.7.0
more-itertools==10.2.0
msgpack==1.0.8
multidict==6.0.5
packaging==23.2
pathspec
pdoc3==0.10.0
pkginfo==1.10.0
pluggy==1.4.0
py==1.11.0
pycodestyle==2.11.1
pyflakes==3.2.0
Pygments==2.17.2
pyparsing==3.1.2
pysignalr==1.0.0
pytest==8.0.2
pytest-asyncio==0.23.5
readme-renderer==43.0
regex==2023.12.25
requests==2.31.0
requests-toolbelt==1.0.0
rfc3986==2.0.0
six==1.16.0
toml==0.10.2
tqdm==4.66.2
twine==5.0.0
typed-ast
urllib3==2.2.2
wcwidth==0.2.13
webencodings==0.5.1
yarl==1.9.4
zipp==3.19.1
